<footer>
    <div class="footer">
        <div class="footer_socialMedia foot">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div class="footer_brand foot">
            &copy;2026 Airbnb,Inc.
        </div>
        <div class="footer_link foot">
            <a href="/privacy">Privacy -</a>
            <a href="/terms">Terms -</a>
            <a href="/details">Company details</a>
        </div>
    </div>
</footer>