<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i>airbnb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav offset-2">
        <a class="nav-link" aria-current="page" href="/listings"><i class="fa-solid fa-house"></i>Homes</a>
        <a class="nav-link" aria-current="page" href="/#"><i class="fa-brands fa-hotjar"></i>Experiences</a>
        <a class="nav-link" aria-current="page" href="/#"><i class="fa-solid fa-bell-concierge"></i>Services</a>
        
        
      </div>
      <div id="google_translate_element"></div>
      <div class="navbar-nav ms-auto">
        
        <select class="nav-select" id="navSelect" onchange="handleNavigation(this)">
           <option value="">Select an option</option>
          <option value="/listings/new">Airbnb your home</option>
        <% if(!currentUser){ %>
           <option value="/signup">Signup</option>
           <option value="/login">Login</option>
        <% } %>
        <% if(currentUser){ %>
            <option value="/logout">Logout</option>
        <% } %>
        </select>
        
      </div><br><br>
<form action="/search" method="GET">
<div class="search-box">
      <div class="search-item">
        <label>Where</label>
        <input type="text" name="q" placeholder="search destination"/>
      </div>
      <div class="divider"></div>
      <div class="search-item">
        <label>Check in</label>
        <input type="date" />
      </div>
      <div class="divider"></div>
      <div class="search-item">
        <label>Check out</label>
        <input type="date" />
      </div>
      <div class="divider"></div>
      <div class="search-item">
        <label>Who</label>
        <input type="text" placeholder="Add guest"/>
      </div>
      <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      
</div>
</form>

<div class="toggle-switch ms-auto">
  <div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Display after taxes</label>
  </div>
</div>
    </div>
  </div>
</nav>

<script src="/JS/script.js"></script>

<script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        } 
  </script>
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>